<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archive.jordiie.onboardingscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".onBoarding.onboardingMain" />
        <activity
            android:name=".Splash.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup"></activity>
        <activity
            android:name=".NavDrawer.Drawer"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
